<h1>Profile</h1>
<form action="/profile" method="post">
  Langauges:<br>
  <input type="checkbox" name="language" value="python" {{python}}> python <br>
  <input type="checkbox" name="language" value="java" {{java}}> java <br>
  <input type="checkbox" name="language" value="c" {{c}}> c/c++ <br>

  Frameworks:<br>
  <input type="checkbox" name="framework" value="reactjs" {{reactjs}}> react.js <br>
  <input type="checkbox" name="framework" value="nodejs" {{nodejs}}> node.js <br>
  <input type="checkbox" name="framework" value="expressjs" {{expressjs}}> express.js <br>

  Databases:<br>
  <input type="checkbox" name="database" value="mongodb" {{mongodb}}> MongoDB <br>
  <input type="checkbox" name="database" value="mysql" {{mysql}}> MySQL <br>

  <input type="submit" name="button" value="save"><br>
</form>